* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  color: rgba(17, 45, 88, 0.6);
  font-size: 2.1rem;
  /* background */
  background-image: url(/img/illustrasi-header.png), url(/img/vector-smart-object-24.png), url(/img/shape-17.png), url(/img/shape-17-copy.png), url(/img/shape-17-copy-2.png), url(/img/footer.png), url(/img/footer-2.png), url(/img/footer-copy.png);
  background-size: 1452px, 350px, 478px, 1148px, 1148px, 2144px, 2107px, 2107px;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: right 0% bottom 100%, left -15% top 10%, right -15% top 36%, right -15% top 70%, left -15% top 72%, left 30% bottom -2%, left 25% bottom -2%, left 30% bottom 0%;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #112d58;
  font-size: 4.55rem;
}

.btn {
  border: none;
  text-decoration: none;
  height: 42px;
  border-radius: 40px;
  padding: 0 2rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
}

.btn-light {
  background-color: transparent;
  border: 1px solid #2963bb;
  color: #2963bb;
}

.btn-light:hover {
  background-color: rgba(255, 255, 255, 0.13);

}

.btn-dark {
  color: #fff;
  background-image: linear-gradient(to top, #2963bb, #18386b);
}

.btn-dark:hover {
  background-image: linear-gradient(to top, #18386b, #2963bb);
}

.btn-seacrh {
  background-color: #ffa024;
  width: 60px;
  height: 60px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-seacrh:hover {
  background-color: #f08f10;
}

.divider {
  border: none;
  border-bottom: 1px solid rgba(81, 84, 90, 0.267);
}

.wrapper {
  width: 1410px;
  margin: 0 auto;
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 0 1.7rem;
  font-size: 1.6rem;
}

.top-header__text {
  color: rgba(81, 84, 90, 0.6);
}

.top-header__phone {
  color: rgba(81, 84, 90, 0.6);
  text-decoration: none;
}

.top-header__phone:hover {
  color: #112d58;
}

.top-header__phone::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f007';
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.header-navbar {
  padding-top: 3px;
}

.header__menu {
  display: flex;
  font-weight: 600;
}

.header__menu-item {
  margin-right: 8rem;
  position: relative;
  padding: 0 0 1.8rem;
}

.header__submenu {
  display: none;
  position: absolute;
  font-size: 1rem;
  top: 4.5rem;
  left: -6rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #e1e4ed;
  background-color: rgba(0, 183, 255, 0.637);
}

.header__submenu>.header__menu-item {
  padding: 0;
  margin-bottom: 1rem;
  width: 20rem;
  margin-right: 0;
}

.header__submenu>.header__menu-item:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.header__menu-item:hover .header__submenu {
  display: block;
}

.header__menu-link {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

.header__menu-link:hover {
  color: #2963bb;
  text-shadow: 0 0 1px #2963bb;
}

.header__menu-link-active {
  color: #2963bb;
  text-shadow: 0 0 1px #2963bb;
}

.header__menu-sublink {
  display: inline-block;
  font-size: 1.6rem;
}

.stage {
  display: flex;
  margin-top: 15rem;
}

.stage__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 655px;
  height: 78px;
  opacity: 0.8;
  border-radius: 39px;
  box-shadow: 0px 16px 122px 0 rgba(211, 212, 212, 0.68);
  background-color: #ffffff;
  border-radius: 40px;
  padding: 0.9rem 1.8rem;
}

.stage__search-input {

  border: none;
  outline: none;
  font-size: 4.5rem;
}

.stage__title {
  width: 650px;

  font-size: 6.8rem;
  margin-bottom: 6.5rem;
}

.stage__text {
  width: 650px;
  font-size: 2.6rem;
  margin-bottom: 6.5rem;
}

.article {
  display: flex;
  justify-content: space-between;
  margin-top: 42.5rem;
}

.article_reverse {
  flex-direction: row-reverse;
  margin-top: 13.5rem;
}

.article__img,
.article__content {
  width: 560px;
  flex-shrink: 0;
}

.article__content {
  margin-top: 12rem;
}

.article__title {}

.article__text {
  margin-top: 6.3rem;
  font-family: 'Rubik', sans-serif;
}

.article_reverse>.article__img,
.article__content {
  width: 650px;
  flex-shrink: 0;
}

.features {
  margin-top: 12rem;
}

.features__title {
  text-align: center;
  font-size: 5.6rem;
}

.features__text {
  margin-top: 2.6rem;
  text-align: center;
  font-size: 2.2rem;
}

.features__block-group {
  display: flex;
  justify-content: space-around;
}

.infoblock {
  margin-top: 12.5rem;
  width: 349px;
  height: 389px;
  border-radius: 30px;
  box-shadow: 0px 20px 98.6px 7.4px rgba(33, 138, 218, 0.12);
  background-color: #ffffff;
}

.infoblock:hover {
  width: 349px;
  height: 389px;
  border-radius: 30px;
  box-shadow: 0px 24px 69.9px 6.1px rgba(90, 129, 253, 0.5);
  background-image: linear-gradient(to top, #4ec7f5, #5c75fe);
}

.infoblock__img {
  filter: invert(69%) sepia(84%) saturate(6295%) hue-rotate(218deg) brightness(104%) contrast(110%);
  display: block;
  margin: 7.8rem auto 0;
}

.infoblock__title {
  font-size: 2.55rem;
  margin-top: 5rem;
  text-align: center;
}

.infoblock__text {
  text-align: center;
}

.infoblock:hover>.infoblock__img {
  filter: invert(0%) sepia(98%) saturate(11%) hue-rotate(73deg) brightness(106%) contrast(99%);
}

.company {
  margin-top: 15rem;
  display: flex;
  justify-content: space-between;
  height: 540px;
}

.company__content {
  margin-top: 10rem;
  width: 600px;
}

.company__buttons-block {
  position: relative;
  width: 700px;
}

.company__button {
  box-shadow: 0px 10px 64.4px 5.6px rgba(33, 138, 218, 0.12);
  display: grid;
  justify-content: center;
  align-content: center;

  /* background-color: #f50808; */
}

.company__button:hover {
  box-shadow: 0px 0px 64.4px 5.5px rgba(2, 144, 253, 0.267);
}

.company__title {}

.company__text {
  margin-top: 5rem;
}

.come-on {
  margin-top: 13rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.come-on__content {
  margin-top: 5rem;
  text-align: center;
}

.come-on__title {
  font-size: 5.4rem;
}

.come-on__text {
  margin-top: 2rem;
}

.testimonials {
  margin-top: 20rem;
}

.testimonials__content {
  display: flex;
  justify-content: space-between;
}

.testimonials__btn {
  font-family: 'Font Awesome 5 Free';
  background-color: transparent;
  font-size: 2.5rem;
}

.testimonials__btn:hover {
  box-shadow: 4px 6.9px 32.6px 2.5px rgba(33, 138, 218, 0.1);
}

.testimonials__info {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.testimonials__infoblock {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 4px 6.9px 32.6px 2.5px rgba(33, 138, 218, 0.1);
  background-color: #ffffff;
}

.testimonials__infoblock:hover {
  box-shadow: 4px 6.9px 32.6px 2.5px rgba(33, 138, 218, 0.404);
}

.testimonials__image_vizard {
  width: 115px;
  height: 115px;
  border-radius: 60px;
  overflow: hidden;
}

.testimonials__infoblock-img {
  width: 115px;
}

.testimonials__infoblock-text {
  width: 28rem;
  text-align: center;
}

.btn_size_1 {
  width: 251px;
  height: 251px;
  border-radius: 100%;
  position: absolute;
  bottom: 35%;
  right: 45%;
  /* transform: translate(-50%); */
}

.btn_size_2 {
  width: 155px;
  height: 155px;
  border-radius: 100%;
  position: absolute;
  bottom: 20%;
  right: 10%;
  /* transform: translate(-50%); */
}

.btn_size_3 {
  width: 135px;
  height: 135px;
  border-radius: 100%;
  position: absolute;
  bottom: 30%;
  left: 10%;
  transform: translate(-50%);
}

.btn_size_4 {
  width: 121px;
  height: 121px;
  border-radius: 100%;
  position: absolute;
  bottom: 5%;
  right: 30%;
  transform: translate(-50%);
}

.btn_size_5 {
  width: 113px;
  height: 113px;
  border-radius: 100%;
  position: absolute;
  bottom: 90%;
  right: 40%;
  transform: translate(-50%);
}

.btn_size_6 {
  width: 103px;
  height: 103px;
  border-radius: 100%;
  position: absolute;
  top: 0%;
  left: 20%;
  transform: translate(-50%);
}

.btn_size_7 {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  position: absolute;
  bottom: 77%;
  right: 16%;
  transform: translate(-50%);
}

.btn_size_8 {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  position: absolute;
  top: 15%;
  left: 5%;
  transform: translate(-50%);
}

.btn_size_9 {
  width: 97px;
  height: 97px;
  border-radius: 100%;
  position: absolute;
  bottom: 10%;
  right: 60%;
  transform: translate(-50%);
}

.btn_size_10 {
  width: 81px;
  height: 81px;
  border-radius: 100%;
  position: absolute;
  bottom: 50%;
  right: 20%;
  transform: translate(-50%);
}

.footer {
  margin-top: 50rem;
  margin-bottom: 40rem;
  color: #ffffff;
}

.footer__content-title {
  color: #ffffff;
}

.footer__content-list {
  margin-top: 10rem;

}

.footer__content-list-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.footer__content-list-item {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.footer__content-list-submenu {
  position: absolute;
  top: 5rem;
  left: -4rem;
}

.footer__content-list-link {
  font-size: 1.8rem;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  margin-top: 5px;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

.footer__content-list-link:hover {
  color: rgb(33, 138, 218);
  text-shadow: 0 0 5px #ffffff;
}