@import "variables";
@import "mixins";

.flextable__navbar {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

    & .pagination {
        padding: 10px 20px;


    }

    & .pagination-marker {
        padding: 0 5px;
        cursor: pointer;

    }

    & .active {
        border-bottom: 1px solid $border-color;

    }
}